<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Laravel application</div>

                    <div class="card-body">
                        <machinepack-payment
                            :paypal="paypal"
                            :stripe="stripe"
                            currency="aud"
                            :subscription-cost-monthly="10.0"
                            :subscription-plan-stripe-id="stripe.plan"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                paypal: {
                    client_id: "<sandbox client id>"
                },
                stripe: {
                    key: MachinePackVueSettings.STRIPE_KEY,
                    plan: MachinePackVueSettings.STRIPE_PLAN
                }
            }
        }
    }
</script>

<style lang="scss">
// @import '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
// @import '../../../node_modules/bootstrap/scss/forms.scss';
// @import '../../../node_modules/bootstrap/scss/nav.scss';
// @import '../../../node_modules/bootstrap/scss/grid.scss';
// @import '../../../node_modules/bootstrap/scss/buttons.scss';
// @import '../../../node_modules/bootstrap/scss/alert.scss';
// @import '../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
</style>
